@charset "utf-8";
/* CSS Document */

@import url('../css/fonts/fonts.css');
@import url('../css/bootstrap.css');

ul{ list-style:none;}
.primary-btn{color: #fff;font-size: 14px;padding: 8px 16px;border: none;cursor: pointer;display: inline-block;}
.primary-btn {background-color: #1190e0;border-bottom: 2px solid #006db2;}
.primary-btn:hover {background-color: #006db2;}


/*==== Header Section ====*/
.headersec{ height:60px; background:#fff; position:relative;}
.logosec{ float:left; width:200px; height:100%;}
.logosec a{ line-height:58px; padding-left:20px;}
.axisdirectlinksec{position:absolute; right:0; top:0;height: 100%;width: 170px;border-bottom: 60px solid #1190e0;border-left: 30px solid transparent;border-right: 0px solid transparent;}
.axisdirectlinksec:before{ content:""; position:absolute; top:57px; bottom:0; border-bottom:solid 3px #0d639a; right:0; width:169px;}
.axisdirectlinksec a{ text-transform:uppercase; font-weight:700; text-align:center; display:block;color:#fff; text-decoration:underline;-webkit-text-decoration-color: #7cb7ea;-moz-text-decoration-color: #7cb7ea;-ms-text-decoration-color: #7cb7ea; -o-text-decoration-color: #7cb7ea; text-decoration-color: #7cb7ea; line-height:63px; font-size:14px;}
/* Navigation Section */
.navsec{ background:none; border:none;}
.navsec .navbar-nav > li > a{ padding:0 20px; line-height:60px; font-size:14px; text-transform:uppercase; color:#838383;}
.navsec .navbar-toggle{ float:left; margin:14px 0;}
.navsec .collapse.in{ position:absolute; width:100%; background:#eee; z-index:99;}
/* Video Section */
.html5-video-content,.html5-video-player .video-click-tracking, .html5-video-player .video-stream{ width:100% !important;}
.videosec {position: relative;background: #fff;height:400px;}
.videosec:after, .videosec:before {top: 100%;left: 50%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;}
.videosec:after {border-color: rgba(255, 255, 255, 0);border-top-color: #fff;border-width: 30px;margin-left: -30px;}
.videosec:before {border-color: rgba(204, 204, 204, 0);border-top-color: #ccc;border-width: 31px;margin-left: -31px;}
.videorelatecontent,.investment-sec,.finacesec,.cuture-sec,.award-sec{ padding:50px;}
.videorelated{ text-align:center; line-height:30px; font-size:16px;}
/* Banner Section */
.banner-sec{ height:400px; background:url(../images/banner.jpg) no-repeat; width:100%; position:relative;}
.banner-sec:after{ position: absolute; width:100%; height:100%; content:"";top: 0;left: 0;right: 0;left: 0;background: rgba(0,0,0,.6);}
.baner-quote{ text-align:center; display:block; padding:0 70px; position:relative; margin:150px 0; z-index:9;}
.baner-quote:before{ content:" left "; position:absolute; left:0; top:0;}
.baner-quote:after{ content:" right "; position:absolute; right:0; top:0;}
.content-heading{ font-size:28px; text-transform:uppercase; color:#fff;}
.banner-content{ color:#fff; font-size:16px;}
/* Investment Section */
.section-head{ color:#202122; font-size:30px; text-transform:capitalize;}
.sec-content{ font-size:16px; color:#333;}
.sprite-icon{ width:70px; height:70px; float:left; background:url(../images/sprite-icon.png) 0 0 no-repeat;}
.public-icon{ background-position:0 0;}
.etfs-icon{background-position:-280px 0;}
.equity-icon{background-position:-70px 0;}
.sip-icon{background-position:-355px 0;}
.deravative-icon{background-position:-140px 0;}
.ncd-icon{background-position:-425px 0;}
.fund-icon{background-position:-210px 0;}
.tax-icon{background-position:-495px 0;}
.home-icon{background-position:-565px 0;}
.personal-icon{background-position:-635px 0;}
.auto-icon{background-position:-705px 0;}
.gold-icon{background-position:-775px 0;}
.share-icon{background-position:-845px 0;}
.vehicle-icon{background-position:-915px 0;}
.mile-icon{background-position:-985px 0;}
.merit-icon{background-position:-1055px 0;}
.heart-icon{background-position:-1125px 0;}
.door-icon{background-position:-1195px 0;}
.cal-icon{background-position:-1265px 0;}
.king-icon{background-position:-1335px 0;}

.invest-content{ padding-left:80px; min-height:120px;}
.contentinvesthead{ font-size:18px; color:#000; text-transform:capitalize;}
/* Finance Section */
.finacesec{ background:#f3f7e7;}
.keyimage{ padding-top:50px;}
/* Culture Section */
.cuture-sec{ background:url(../images/culture.jpg) no-repeat;}
.culturebox{ border:solid 1px #e1e1e1; padding:20px; min-height:270px; background:#fff;}
.culturebox p{ text-align:center; display:inline-block;}
.cuture-activity,.investsec{ padding:0;}
.cuture-activity > li{ padding-bottom:30px;}
.buttonsec{ margin-top:30px;}
/* Awards Section */
.award-sec{ background:#7e1b1a;}
.award-circle{ width:274px; height:274px; background:url(../images/star.png) 0 0 no-repeat; position:relative; margin:auto; display:table;}
.award-circle span{ font-size:30px; color:#fff;}
.award-circle span:last-child{ display:block; padding-left:60px;}
.awardcontent{ display:table-cell; text-align:center; vertical-align:middle;}
.award-circle:after{ content:"-"; position:absolute; top:120px; right:-240px; width:70%; border-bottom:solid 2px #ddc103;}
.award-circle:before{ content:"-"; position:absolute; top:120px; left:-240px; width:70%; border-bottom:solid 2px #ddc103;}
.award-content{ color:#fff; position:relative; display:table; margin:20px 0;}
.awardcontentinner{ display:table-cell; vertical-align:middle; text-align:center; padding:0 60px;}
.awardcontentinner:after{ content:""; position:absolute; right:0; top:0; width:70px; height:135px; background:url(../images/awarddesign.png) -70px 0 no-repeat;}
.awardcontentinner:before{ content:""; position:absolute; left:0; top:0;width:70px; height:135px; background:url(../images/awarddesign.png) 0 0 no-repeat;}
.award-content .contentinvesthead{ color:#fff; font-size:28px;}
.mrgtop{ margin-top:50px;}