@import url('fonts.css');

/*  RESET Rules  */
.cps{padding: 0px;}
.cps-l{padding-left: 0px;}
.cps-r{padding-right: 0px;}
.cps-t{padding-top: 0px;}
.cps-b{padding-bottom: 0px;}
.cps-lr{padding-left: 0px;padding-right: 0px;}
.cps-tb{padding-top: 0px;padding-bottom: 0px;}
.cms{margin: 0px;}
.cms-l{margin-left: 0px;}
.cms-r{margin-right: 0px;}
.cms-t{margin-top: 0px;}
.cms-b{margin-bottom: 0px;}
.cms-lr{margin-left: 0px;margin-right: 0px;}
.cms-tb{margin-top: 0px;margin-bottom: 0px;}




/* -------- Regular Rules --------------- */
body .container-fluid > div{
	/*border: 1px solid rgba(0, 0, 0, 0.5);*/
	font-family: "futura_bk_btbook";
}
.headContainer{
	display: block;
	/*border-bottom: 1px solid #ccc;*/
	/*box-shadow: 0px 1px 2em #ddd;*/
	/*padding: 8px 0px;*/
}
.headContainer .logoSection{
	padding: 8px 10px;
}
.navHolder .navbar-default{
	background: none;
	border: none;
	text-transform: uppercase;
	padding: 8px 0px;
}
@media screen and (max-width: 768px) {
	.navHolder .navbar-default{
		padding: 0px;
	}
}
.navHolder .navbar{
	min-height: auto;
	margin: 0px;
}
.navHolder .navbar-default .navbar-nav>.active>a, 
.navHolder .navbar-default .navbar-nav>.active>a:focus, 
.navHolder .navbar-default .navbar-nav>.active>a:hover{
	background: none;
}

.navHolder .navbar-default .navbar-nav> li >a{
	padding: 8px 15px;
}
/* .axisDirect{
	border: 1px solid #000;
	padding: 8px 0px;
	background-color: #33008B;
	color: #fff;
	font-family: "futura_bk_btbook";
	text-transform: uppercase;
	font-weight: bold;
}
.axisDirect span{
	padding: 3px 6px 3px 6px;
	color: #ffffff;
	text-decoration: none;
	width: 80px;
} */


div.axisDirect {
    background:black;
    /*margin:15px;*/
    position:relative;
    color: #fff;
    padding: 14px 0px;
    text-align: center;
    background-color: #33008B;
    font-size: 1.2em;
}
div.axisDirect:before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    width: 0;
    height: 0;
    border-top: 52px solid white;
    border-right: 28px solid transparent;
}
.bodyContainer .videoHolder{
	display: block;
	background-color: #000;
	color: #fff;
	padding: 12px 0px;
	line-height: 250px;
	text-align: center;
}
.bodyContainer .videoHolder span{
	border: 1px solid #fff;
	font-size: 3.2em;
	padding: 12px 25px;
	border-radius: 2em;
	background-color: #ccc;
	opacity: 0.2;
}

.bodyContainer .videoHolder {
	position: relative;
}
.bodyContainer .videoHolder:after, .bodyContainer .videoHolder:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.bodyContainer .videoHolder:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #000;
	border-width: 20px;
	margin-left: -20px;
}
.bodyContainer .introHolder{
	background: url('../images/visionBg.jpg') no-repeat center bottom;
	background-size: 100%;
}
.bodyContainer .intro{
	display: block;
	padding: 70px 0px;
	text-align: center;
	font-size: 18px;
	/*position: relative;*/
}
.bodyContainer .intro p{
	display: block;
	/*width: 60%;*/
	margin: 0px auto;
	font-family: 'futura_lightregular';
	line-height: 1.8em;
	color: #333;
}
.bodyContainer .intro p:first-child:first-letter{
	font-size: 28px;
}
 .bodyContainer .intro:after{
	border-bottom: 1px solid #ccc;
	content: " ";
	position: absolute;
	left: 43%;
	width: 15%;
	padding-top: 60px;
} 
.bodyContainer .ourVision{
	display: block;
	padding: 70px 0px;
	text-align: center;
}
.bodyContainer .ourVision h1:before{
	padding: 0px 19px;
	margin-right: 20px;
	margin-top: -15px;
	content: " ";
	background: url("../images/Visionbarfi.png") no-repeat center center;
}
.bodyContainer .ourVision .visionContent{
	display: block;
	width: 70%;
	margin: 0px auto;
	font-size: 18px;
	font-family: 'futura_lightregular';
	position: relative;
	margin: 42px auto;
}
@media screen and (max-width: 768px) {
	.bodyContainer .ourVision .visionContent{
		width: 70%;
	}
}
.bodyContainer .ourVision .visionContent:before{
	background: url('../images/Startquote.png') no-repeat left top;
	padding: 42px 37px;
	content: " ";
	position: absolute;
	top: -42px;
	left: -57px;
}
.bodyContainer .ourVision .visionContent:after{
	background: url('../images/endqoute.png') no-repeat left top;
	padding: 16px;
	content: " ";
	position: absolute;
	bottom: -16px;
	margin-left: 10px;
}
